.App {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.symbol-input {
  width: 65%;
  margin-bottom: 2rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  border: 5px solid #f05454;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 1rem;
  gap: 1rem;
  max-width: 1024px;
}

.stock-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: whitesmoke;
  position: relative;
  border-radius: 1rem;
  border: 5px solid #30475e;
  width: 250px;
  min-height: 285px;
}

.stock--header {
  margin-bottom: 1rem;
}

.stock--symbol {
  font-size: 2rem;
  color: #30475e;
}

.stock--last-update {
  font-size: 0.65rem;
}

.stock--details-name {
  font-weight: bold;
  font-size: 0.8rem;
}

.stock--details {
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  /* gap: 2rem; */
  text-align: center;
}

.details-row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dddddd;
  padding: 5px 0;
}

.close-card-icon {
  position: absolute;
  font-size: 1.5rem;
  top: 5px;
  right: 5px;
  /* transform: translate(60%, -60%); */
  z-index: 100;
  color: #f05454;
}

.close-card-icon-bg {
  background-color: white;
  border-radius: 50%;
}

@media screen and (max-width: 560px) {
  .card-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .stock-card {
    width: 100%;
  }
}
